*{
    box-sizing: border-box;
    
}
body{   
   font-family: 'Times New Roman', Times, serif;
   width: 100%; 
   margin: 0px; 
}
nav{
    background: beige;  
    text-align: center; 
}
h1{
    
}
.navbar{  
    display: inline;
   
}
#header1{
   display: inline;
    font: white; 
    background: gray;   
}
#background1{
    
}
section{
}
#aboutme{
}
#bio{
}

